body {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  background: #000000;
  padding: 0 24px;
  color: rgb(255, 255, 255); /* Change my color to yellow */
  margin: 0;
  height: 100vh;
  display: flex;
}



.nav_bar {
    width: 100%;             /* que ocupe todo el ancho */
    height: 60px;            /* altura de la barra, ajustable */
    background-color: #36ff24; /* color verde */
    position: fixed;         /* siempre en la parte superior */
    top: 0;                  /* alineada al top */
    left: 0;
    display: flex;           /* útil si quieres alinear contenido */
    align-items: center;     /* centra verticalmente los elementos */
    padding: 0 20px;         /* espacio a los lados */
    box-shadow: 0 4px 6px rgb(30, 255, 0); /* sombra debajo */          /* para que esté sobre otros elementos */
    color: #ffffff;
}